
<h1><%= @game.player1.name %> Turn!
</h1>


<h1><%= @game.players_setup[0].name %> vs. <%= @game.players_setup[1].name%> </h1>

<br>

<% if @game.game_over? %>
<h2>GAME OVER: <%= @game.player1.name %> loses!</h2>
<% end %>

<br>


<h2><%= @game.players_setup[0].name%>: <%= @game.players_setup[0].hitpoints%> HP</h2>
<h2><%= @game.players_setup[1].name%>: <%= @game.players_setup[1].hitpoints%> HP</h2>


<% unless @game.game_over? %>
<form action='/attacking' method='post'>
  <input type='submit' value='Attack'>
</form>
<% end %>